[build]
  publish = "web"
  functions = "functions"

[functions]
  directory = "functions"
  pythonVersion = "3.9"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
